body{
    background-color: rgb(191, 211, 248);
}

.section{
    display: inline-table;
    inline-size: 15%;
    margin-inline-start: 5%;
    font-size: 120%;
}

#library{
    display: block;
    width: 20%;
    margin-left: 40%;
    margin-top: 5%;
    font-size: 150%;
}

.agendaheader{
    text-align: center;
}

