body{
    background-color:rgb(228, 171, 66);
}
.allText{
    margin-left: 2%;
    margin-right: 2%;
}
.agendaheader{
   color:lavenderblush;
   font-size: 300%;
   text-align: center;
}

.clubs{
    font-size: 250%;
    display:inline-table;
    inline-size: 20%;   
    margin-left: 3%;
}

.clubsText{
    font-size:70%;
}

.classes{
    font-size: 250%;
    display:inline-table;
    inline-size: 20%;
    margin-left: 5%;
}

.classesText{
    font-size:70%;
}

.ibStuff{
    display: inline-table;
    inline-size: 20%;
    font-size:250%;
    margin-left:5%
}

.ibText{
    font-size:70%;
}

.labels{
    color:#000fff;
    text-decoration: underline;
}
a{
font-size: 80%;
}
.other{
    font-size: 250%;
    display:inline-table;
    margin-left: 5%;
    inline-size: 20%;
}
.otherText{
    font-size: 70%;
}

#priorityList{
    font-size: 250%;
}
.weekendCheckList{
    text-align: center;
    font-size: 300%;
}
#weekendCheckList{
    font-size: 400%;
}
a[href$=".html"]{
    background-color: #6b98f7;
    text-decoration: none;
}
body{
    background: -webkit-linear-gradient(rgb(228, 171, 66),rgb(255,255,255));
    background: -moz-linear-gradient(rgb(228, 171, 66),rgb(255,255,255));
}
.other:hover{
    transition-timing-function: 2s ease-in;
    color:#FFFFFF;
    transition-timing-function: 2s ease-in;
    transform:skew(30deg, 15deg);
    
}
